@media screen and (min-width: 769px){
    .s-top{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 48px;
        padding: 120px 0 0;

        &__text {
            width: calc(100% - 440px);
        }

        &__title {
            position: absolute;
            top:136px;
            font-size: 40px;
            font-weight: 700;
            letter-spacing: 1.6px;
            color: #3c3a3a;
        }

        &__desc {
            margin: 32px 0 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 2;
            letter-spacing: 1.6px;
            color: #3c3a3a;
        }

        &__image {
            & img {
                width: 240px;
                height: 240px;
            }
        }

    }

    .s-help{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        margin:0 48px;
        padding: 0 0 128px;

        &__cell {
            width: calc((100% - 96px) / 3);
            margin: 64px 48px 0 0;

            &:nth-child(3){
                margin-right: 0;
            }
        }

        &__image {
            width: 96px;
            height: 96px;
            margin:auto;
            & img {
                width: 100%;
                height: 100%;
            }
        }

        &__title {
            position: relative;
            margin: 24px auto;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.8px;
            color: #3c3a3a;

            &:after {
                content: "";
                position: absolute;
                bottom: -16px;
                left: 0;
                width: 32px;
                height: 1px;
                background-color: #FF4400;
            }
        }

        &__desc {
            margin: 32px 0 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0;
            color: #3c3a3a;
        }

    }

    .voice{

      box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
      margin: 0 48px;
      padding-top: 36px;
      &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        margin: 0 36px;
        padding:36px 0;

        &__title{
          text-align: left;
          & h3{
            margin-bottom:24px;
            font-size: 20px;
            font-weight: 600;
          }
        }
        &__interview{
          width:50%;
          height: auto;
          margin-right: 0;
          margin-left:auto;
          & p{
            margin: 12px 0 0;
            line-height: 1.9;
            font-size:14px;
          }
          & a{
            font-size: 14px;
            line-height: 1.9;
            text-decoration:underline;
          }
        }
        &__img{
          width: 48%;
          margin-top: 0;
          margin-bottom: auto;
          margin-right: auto;
          margin-left:0;
          & img{
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
          }
          &_client{
            float: left;
            margin: 12px 24px 0;
            height: 24px;
            width: auto;
            &_name{
              float: right;
            }
          }

        }

      }
    }

    .voice_img_sp{
      display: none;
    }



    .l-contact{
        padding: 80px 0 128px;
        text-align: center;

        &__content{
            margin: 32px 0 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 2;
            letter-spacing: 0.8px;
            color: #333;
        }

        &__button{
            width: 320px;
            margin: 64px auto 0;
        }
    }

}

@media screen and (max-width: 768px) {
    .s-top{
        padding: 128px 20px 0;

        &__title {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 1.6px;
            color: #333;
        }

        &__desc {
            margin: 24px 0 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 2;
            letter-spacing: 0.8px;
            color: #333;
        }

        &__image {
            margin: 24px auto 0;
            & img {
                width: 160px;
                height: 120px;
                margin: auto;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .s-help{
        padding: 24px 20px 64px;

        &__cell {
            margin: 40px 0 0;
        }

        &__image {
            width: 48px;
            height: 48px;
            & img {
                width: 100%;
                height: 100%;
            }
        }

        &__title {
            position: relative;
            margin: 24px 0 0;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.8px;
            color: #333;

            &:after {
                content: "";
                position: absolute;
                bottom: -16px;
                left: 0;
                width: 32px;
                height: 1px;
                background-color: #FF4400;
            }
        }

        &__desc {
            margin: 32px 0 0;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0;
            color: #333;
        }
    }

    .voice{
      background-color: #FFF;
      // border-radius: 8px;
      box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
      margin: 0 20px;
      padding-top: 36px;
      &__content{
        padding:36px 0 12px;

        &__title{
          text-align: center;
          margin-bottom:24px;
          font-size: 20px;
          font-weight: 700;
        }
        &__interview{
          width:291px;
          height: auto;
          margin:auto;
          // margin-left:auto;
          & p{
            margin: 12px 0 0;
            line-height: 1.5;
          }
          & a{
            font-size: 14px;
          }
        }
        &__img{
          margin:24px 0 12px;
          &_client{
            margin: 0 12px 12px;
            height: 24px;
            width: auto;
          }
        }
        & img{
          // width: 291px;
          text-align: center;
          // border-radius: 8px;
        }
      }
    }
    .voice_img_pc{
      display: none;
    }


}
