@media screen and (min-width: 769px){

  .recruit_title{
    width:100%;
    padding: 120px 0 48px 0;
    // clear: both;
    &_middle{
      display: none;
    }
  }

  .i-recruit {
    width:100%;
    background: url('../images/bg_vision.png') no-repeat 0 0;
    background-size: 100% auto;

    &_title {
      margin: 0 80px;
    }
    &_heading {
      font-size: 48px;
      letter-spacing: 2.4px;
    }
    &_subhead {
      font-size: 16px;
    }

    &__vision {
      width: calc(100% - 160px);
      margin: 0 80px;
      padding: 64px;
      background-color: #FFF;
      // border-radius: 8px;
      box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
      &__title {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 1.6px;
        color: #333;
      }
      &__text {
        margin: 24px 0 0;
        font-size: 16px;
        // font-weight: 200;
        line-height: 2;
        letter-spacing: 0.8px;
        // color: #333;
      }
    }

    &__value {
      margin: 48px 0;
      padding: 48px 80px;
      background: linear-gradient(-135deg, #FCB01E, #ED4219);
       &_title{
         // color:rgba(255,255,255,1.00);
         margin: 0px;
         // float: left;
       }
      &__composes{
        background-color: #FFFFFF;
        width: 800px;
        // border-radius: 8px;
        box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
        margin:auto;
        // margin:0px;
        // margin-left: auto;

        &_list {
          position: relative;
          text-align: center;
          // min-height: 320px;
          margin: 0 24px;
          padding-top: 48px;
          &_title {
            font-family: 'Gotham';
            font-style: italic;
            font-size: 32px;
            font-weight: 400;
            // line-height: 120px;
            letter-spacing: 1.2px;
            color: #FF6A00;
          }
          &_text {
            margin: 12px 0 0;
            font-size: 18px;
            // font-weight: 200;
            line-height: 2;
            letter-spacing: 0.4px;
            // color: #333;
          }
          &_bg {
            position: absolute;
            z-index: -1;
            top: 0;
            left: -24px;
            text-align: left;
            font-size: 80px;
            font-style: italic;
            font-weight: 800;
            line-height: 160px;
            letter-spacing: 24px;
            color: #FAFAFA;
          }
        }
      }
    }

    .recruit__title_large{
      margin: 0 0 48px;
    }

    .blank{
      height: 56px;
    }

    &__technologystack{
      display: block;
        &__content{
          margin: 60px 80px 24px;
        }
        &__category{
          width: auto;
          height: 200px;
          &_title{
            font-weight: 600;
          }
        }
        &__item{
          height: 150px;
          width: 100px;
          padding-top:10px;
          border-top: solid #FF6A00;
          float: left;
          &__logo{
            width: 80px;
            height: 80px;
            margin: 10px;
            border-radius: 50%;
            // box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
          }
          &__name{
            text-align: center;
            font-size: 12px;
          }
        }
    }

    .business_design{
      display: block;
      width: 100%;
      clear: both;
    }
    .development{
      float: left;
      margin-right: 36px;
    }
    .cloudwatch_sp{
      display: none;
    }
    .lf_sp{
      display: none;
    }
    .gd_sp{
      display: none;
    }





    &__team {
      width: 960px;
      margin: auto;
      padding: 0 0 48px;
      &__content {
        width: 960px;
        margin: 0 60px;
        padding-top:24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
      }
      &__list {
        width: calc((100% - 80px) / 4);
        height: auto;
        margin: 12px 0;
        text-align: center;
        cursor: pointer;
      }
      &__thumb {
        width: 120px;
        height: 120px;
        margin: auto;
        border-radius: 50%;
        // box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
        object-fit: cover;
        object-position: center;
      }
      &__name {
        margin: 24px 0 0;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.8px;
        color: #333;
      }
      &__role {
        margin: 4px 0 0;
        font-size: 12px;
        letter-spacing: 0.5px;
        color: #333;
      }
      &__modal {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 30;
        width: 640px;
        height: 400px;
        margin: auto;
        padding: 64px 48px;
        background-color: #FFF;
        box-shadow: 0 0 24px 0 rgba(0,0,0,0.24);
        &_close {
          position: absolute;
          top: 32px;
          right: 32px;
          cursor: pointer;
          &_img {
            width: 24px;
            height: 24px;
          }
        }
        &_info {
          display: flex;
        }
        &_thumb {
          width: 120px;
          height: 120px;
          margin: 0 4px 0 0;
          &_img {
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            padding: 4px;
            object-fit: cover;
            object-position: center;
            background-color: #FFF;
            border-radius: 50%;
            box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
          }
        }
        &_text {
          width: calc(100% - 144px);
          margin: 8px 0 0;
        }
        &_role {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0.8px;
          color: #FF6A00;
        }
        &_name {
          margin: 8px 0 0;
          font-size: 24px;
          font-weight: 700;
          letter-spacing: 1.6px;
          color: #333;
        }
        &_sns {
          display: flex;
          margin: 16px 0 0;
          &_item {
            margin: 0 12px 0 0;
          }
        }
        &_content {
          max-height: 112px;
          overflow-y: scroll;
          margin: 32px 80px 0;
          font-size: 14px;
          font-weight: 400;
          line-height: 2;
          color: #333;
          & > p {
            padding: 0 4px;
          }
          &::-webkit-scrollbar {
            width: 2px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #FF6A00;
            border-radius: 4px;
          }
        }
      }
    }




    &__message {
      padding: 48px 0;
      background-color: #FAFAFA;
      &__content {
        margin: 48px 80px 0;
        padding: 48px 48px 60px;
        background-color: #FFF;
        box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
        // border-radius: 8px;
        &__text{
          width: 600px;
          margin-left: auto;
        }
        &_img{
          // position: relative;
          // height: 100vh;
          width: 360px;
          // height: 750px;
          margin:0 24px 48px 0;
          float: left;
          &_picture{
            // border-radius: 8px;
          }
        }
      }
      &__ceo{
        color:#FF6A00;
        margin: 24px 0 4px;
        font-size: 12px;
      }
      &__tagami{
        font-size: 24px;
        font-weight: 600;
        margin:8px 0 0;
      }
      &__name {

        font-size: 10px;

        font-weight: 400;
        letter-spacing: 0.8px;
        color: #333;
      }

      &__heading {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 1.6px;
        // color: #333;
      }
      &__desc {
        & p{
          margin: 16px 0 0;
          font-size: 14px;
          line-height: 2;
          color: #333;
        }
      }
      &__introduce {
        margin: 24px 0 0;
        font-size: 12px;
        line-height: 2;
      }
    }

    .message_sp{
    display: none;
    }




    &__feature{
      margin: 20px 80px;

      &__content{
        width: 100%;
        height: auto;
        margin: 20px auto;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }
      &__item{
        width: 100%;
        background-color: #FFF;
        padding: 12px;
        // border-radius: 8px;
        box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
        &__thumb{

        }
        &__img{
          width:50%;
          min-height:200px;
          margin:0px 0 8px;
          padding: 4px;
          object-fit: cover;
          object-position: center;
          background-color: #FFF;
          // border-radius: 8px;
          float:left;
        }
        &__title{
          // display: inline-block;
          // width:480px;
          height:auto;
          margin: 0px auto;
          padding: 8px 0 0;
          text-align: center;
          & h3{
            font-weight: 600;
          }
        }
        &__desc{
          & p{
            height: 40%;
            text-align: left;
            font-size: 14px;
            line-height: 2;
            margin: 8px 16px;
          }
        }
      }
    }


    .feature_title{
      width:200px;
      margin: auto;
    }

    &__position {
      padding: 80px 0 120px;
      margin: 0 80px;
      &__content {

        margin:0 80px 0;
        width: 100%;
        height: auto;
        margin: 20px auto;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

      }
      &__list {

        padding: 32px;
        background-color: #FAFAFA;
        // box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
        // box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
        // border-radius: 8px;
        &__title {
          text-align: center;
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 0.4px;
          color: #333;
        }
        &__item {
          margin: 16px 0 0;
          &:first-child {
            margin: 32px 0 0;
          }
        }
        &__link {
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0.2px;
          color: #333;
          text-decoration: underline;
          transition: 0.4s;
          -webkit-transition: 0.4s;
          &:hover {
            color: #FF6A00;
          }
        }
      }
    }

  }

}

@media screen and (max-width: 768px) {


  .recruit_title_large{
    display: none;
  }

  .recruit_title{
    padding-bottom: 24px;
  }

  .i-recruit {
    background: url('../images/bg_vision_sp.png') no-repeat 0 0;
    background-size: 375px 375px;

    &__vision {
      // width: calc(100% - 24px);
      margin: 0 20px;
      padding:16px;
      background-color: #FFF;
      box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
      // border-radius: 8px;
      &__title {
        font-size: 20px;
        font-weight: 700;
        // line-height: 1.0;
        letter-spacing: 0.8px;
        color: #333;
      }
      &__text {
        margin: 16px 0 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 0.4px;
        color: #333;
      }
    }

    &__value {
      padding: 32px 20px 24px;
      margin:32px 0;
      overflow-x: hidden;
      background-color: #fcfcfc;

      &__composes{
        padding:0px 0 32px;
        &_list {
          background-color: #fff;
          box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
          border-right: medium solid #FF6A00;
          position: relative;
          text-align: center;
          margin: 32px 0 0;
          padding: 12px;

          &_title {
            font-family: 'Gotham';
            font-style: italic;
            font-size: 24px;
            // font-weight: 400;
            line-height: 40px;
            letter-spacing: 0.4px;
            color: #FF6A00;
          }
          &_text {
            // margin: 8px 0 0;
            font-size: 16px;
            // font-weight: 400;
            line-height: 1.8;
            letter-spacing: 0.2px;
            color: #333;
          }
          &_bg {
            position: absolute;
            z-index: -1;
            top: 0;
            left: -24px;
            display: block;
            width: 200%;
            text-align: left;
            font-size: 64px;
            font-style: italic;
            font-weight: 800;
            line-height: 80px;
            letter-spacing: 16px;
            color: #FAFAFA;
          }
        }
      }
    }

    .recruit__title_large{
      display: none;
    }

    &__technologystack{
      margin:0 auto;
        &__content{
          margin: 20px 0;
          // width: 200px;
          // height: auto;
        }
        &__category{
          // width: 220;
          // height: auto;
          // margin: 10px 0;
          margin:0 auto;
          &_title{
            font-weight: 600;
            border-bottom: solid #FF6A00;
          }
        }
        &__item{
          height: 80px;
          width: 52px;
          padding-top:10px;
          float: left;
          &__logo{
            width: 40px;
            height: 40px;
            margin: 5px;
            border-radius: 50%;
            // box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
          }
          &__name{
            text-align: center;
            font-size: 8px;
          }
        }
    }
    .development{
      width: 320px;
      height: 120px;
    }
    .support{
      width: 320px;
      height: 120px;
    }
    .infra{
      width: 320px;
      height: 200px;
    }
    .business_design{
      width: 320px;
      height: 200px;
    }
    .cloudwatch_pc{
      display: none;
    }
    .lf_pc{
      display: none;
    }
    .gd_pc{
      display: none;
    }




    &__team {
      margin: auto;
      padding: 0 20px 64px;
      &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
      }
      &__list {
        width: calc((100% - 16px) / 2);
        height: auto;
        margin: 32px 0 0;
        text-align: center;
      }
      &__thumb {
        width: 120px;
        height: 120px;
        margin: auto;
        // box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
      &__name {
        margin: 24px 0 0;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.8px;
        color: #333;
      }
      &__role {
        margin: 8px 0 0;
        font-size: 12px;
        letter-spacing: 0.4px;
        color: #333;
      }
      &__modal {
        display: none;
        position: fixed;
        top: 40px;
        bottom: 40px;
        right: 16px;
        left: 16px;
        z-index: 30;
        width: calc(100% - 32px);
        height: calc(100vh - 80px);
        margin: auto;
        padding: 64px 32px;
        background-color: #FFF;
        box-shadow: 0 0 24px 0 rgba(0,0,0,0.24);
        &_close {
          position: absolute;
          top: 16px;
          right: 16px;
          cursor: pointer;
          &_img {
            width: 24px;
            height: 24px;
          }
        }
        &_thumb {
          width: 120px;
          height: 120px;
          margin: auto;
          &_img {
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            margin: auto;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
          }
        }
        &_text {
          margin: 8px 0 0;
          text-align: center;
        }
        &_role {
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.8px;
          color: #FF6A00;
        }
        &_name {
          margin: 8px 0 0;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 1.6px;
          color: #333;
        }
        &_sns {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 16px 0 0;
          &_item {
            margin: 0 8px;
          }
        }
        &_content {
          max-height: 196px;
          overflow-y: scroll;
          margin: 32px -4px 0;
          font-size: 14px;
          font-weight: 400;
          line-height: 2;
          color: #333;
          & > p {
            padding: 0 4px;
          }
          &::-webkit-scrollbar {
            width: 2px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #FF6A00;
            border-radius: 4px;
          }
        }
      }
    }

    &__message {
      padding: 48px 0;
      background-color: #fcfcfc;
      &__content {
        margin: 32px 20px 0;
        padding: 40px 12px;
        background-color: #fff;
        // border-radius: 8px;
      }
      &_img{
        margin: 8px 0;
        &_picture{
          // border-radius: 8px;
        }
      }
      &__ceo{
        color:#FF6A00;
        margin: 24px 0 4px;
        font-size: 12px;
      }
      &__tagami{
        font-size: 24px;
        font-weight: 600;
        margin:8px 0 0;
      }
      &__name {
        // margin: 16px 0;
        // text-align: right;
        font-size: 10px;
        // font-style: italic;
        font-weight: 400;
        letter-spacing: 0.8px;
        color: #333;
      }
      &__heading {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1.6px;
        color: #333;
      }
      &__desc {
        & p{
          margin: 16px 0 0;
          font-size: 12px;
          line-height: 2;
          color: #333;
        }
      }
    }

    .message_sp{
      margin-top:64px;
    }

    .message_pc{
      display: none;
    }



    &__feature{
      margin: 20px;

      &__content{
      }
      &__item{
        width: 100%;
        height: auto;
        margin: 20px auto;
        // padding: 0 4px;
        background-color: #FFF;
        // border-radius: 8px;
        box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);

        &__img{
          width:100%;
          height:200px;
          margin:4px auto;
          padding:4px 4px 12px;
          object-fit: cover;
          object-position: center;
          background-color: #FFF;
          // border-radius: 8px;
        }
        &__title{
          width:100%;
          height:auto;
          margin: 0px auto;
          padding:0;
          text-align: center;
          & h3{
            font-size: 16px;
            font-weight: 600;
          }
        }
        &__desc{
          height: 40%;
          padding-bottom: 8px;
        }
        & p{
          text-align: left;
          font-size: 14px;
          line-height: 1.8;
          letter-spacing: 0.08em;
          margin: 8px 16px;
        }
      }
    }

    .growth_2, .environment_2, .office_2, .guest_2{
      display: none;
    }

    &__position {
      padding: 64px 20px 120px;
      &__content {
        margin: 48px 0 0;
      }
      &__list {
        width: 100%;
        height: auto;
        margin: 24px 0 0;
        padding: 24px;
        background-color: #FAFAFA;
        // box-shadow: 0 4px 48px 0 rgba(0,0,0,.08);
        box-shadow: 0 2px 28px 0 rgba(0,0,0,0.16);
        // border-radius: 8px;
        &__title {
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 1.6px;
          color: #333;
        }
        &__item {
          margin: 16px 0 0;
          &:first-child {
            margin: 24px 0 0;
          }
        }
        &__link {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.8px;
          color: #333;
          text-decoration: underline;
          &:hover {
            color: #FF6A00;
          }
        }
      }
    }

  }

}
